---
# Patch: adds siderolabs/install-cni init-container to Multus DaemonSet
# Installs reference CNI plugins (vlan, ipvlan, macvlan, static, etc.)
# missing from the Talos base image. This is the officially recommended
# approach from the Talos documentation.
# https://docs.siderolabs.com/kubernetes-guides/cni/multus
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: kube-multus-ds
  namespace: kube-system
spec:
  template:
    spec:
      initContainers:
        - name: install-cni
          image: ghcr.io/siderolabs/install-cni:v1.7.0
          command:
            - /install-cni.sh
          securityContext:
            privileged: true
          volumeMounts:
            - name: cnibin
              mountPath: /host/opt/cni/bin
              mountPropagation: Bidirectional
