---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - prereqs-application.yaml  # sync-wave -2: Namespace + SA vorab
  - application.yaml          # sync-wave -1: Longhorn Helm-Chart
